body{
    text-align: center;
}
#Button{
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: rgb(230, 255, 6);
    border-radius: 5px;
    
}
#Label{
    font-size: 50px;
    color: rgb(255, 0, 0);
}