body{
    margin:0;
    background-image: url('download.jpg');
    background-size: cover;
}
#clock_container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;

}
#clock{
    font-size:100px;
    font-family: 'Courier New', Courier, monospace;
}